.emacs.desktop
custom.el
elpa
emms
*~
recentf
projectile-*.el*
eshell
bookmarks
games
.mc-lists.el
url/
network-security.data
session.*
tramp
.cache
projectile.cache
anaconda-mode
forge-database.sqlite
transient/